{% extends 'base.html.twig' %}

{% block body %}
   <div class="w-[90%] mx-auto border rounded p-2 mt-2">
      <div class="w-full rounded">
         <table class="w-1/2 mx-auto border bg-slate-100 rounded-sm">
            {% if client.compte %}
            <tr class="text-left p-3 flex justify-between">
               <th>Nom : </th>
               <td>{{ client.compte.nom }}</td>
            </tr>
            <tr class="text-left p-3 flex justify-between">
               <th>Prénom : </th>
               <td>{{ client.compte.prenom }}</td>
            </tr>
            {% endif %}
            <tr class="text-left p-3 flex justify-between">
               <th>Surname : </th>
               <td class="pl-2 text-right">{{ client.surname }}</td>
            </tr>
            <tr class="text-left p-3 flex justify-between">
               <th>Téléphone : </th>
               <td class="pl-2 text-right">{{ client.telephone }}</td>
            </tr>
            <tr class="text-left p-3  flex justify-between">
               <th>Adresse : </th>
               <td class="pl-2 text-right">{{ client.adresse }}</td>
            </tr>
         </table>
      </div>
      <div class="w-full p-4">
         <table class="w-[60%] mx-auto">
            <thead class="w-full">
            <tr class="bg-blue-500">
               <th class="py-3 text-white text-left pl-2 rounded-ss-lg">#</th>
               <th class="py-3 text-white text-left pl-2">Date</th>
               <th class="py-3 text-white text-left pl-2">Montant Total</th>
               <th class="py-3 text-white text-left pl-2">Montant Verser</th>
               <th class="py-3 text-white text-left pl-2 rounded-se-lg">Montant Restant</th>

            </tr>
            </thead>
            <tbody>
            {% for dette in client.dettes %}
               <tr>
                  <td class="py-3 px-2">
                     {{ dette.id }}
                  </td>
                  <td class="py-3 px-2">
                     {{ dette.createAt |date("m/d/Y") }}

                  </td>
                  <td class="py-3 px-2">
                     {{ dette.montant }}
                  </td>
                  <td class="py-3 px-2">
                     {{ dette.montantVerser }}
                  </td>
                  <td class="py-3 px-2">
                     {{ dette.montant - dette.montantVerser }}
                  </td>
               </tr>
            {% endfor %}
            </tbody>
         </table>
      </div>
   </div>

{% endblock %}
